body {
    margin: 0;
    user-select: none;
}

#root {
    height: 100vh;
    padding: 5vh;
    box-sizing: border-box;
    background: #15246d;
    position: relative;
    text-align: center;
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}